.App {
  text-align: center;
  max-width: 1024px;
  margin: auto;
  box-shadow: 1px 1px 5px #c2c2c2;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
@media screen and (max-width :767px) { 
  .App {
    max-width: 100%;
  }
}